<div class="well hoverwell thumbail" [routerLink]="['/events',event1.id]">
    <h2>{{event1.name}}</h2>
    <div>Date: {{event1.date}}</div>
    <div [class.green]="event1.time==='9:00 am'" [ngSwitch]="event1.time">
        Time: {{event1.time}}
        <span *ngSwitchCase="'8:00 am'">(Early Start)</span>
        <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
        <span *ngSwitchDefault>(Normal Start)</span>
    </div>
    <div [ngClass]="{bold: event1.price>600.00,green: event1.price>600.00}">Price: Rs {{event1.price}}</div>
    <div *ngIf="event1.location">
        <span>Location: {{event1.location?.address}}</span>
        <span>{{event1.location?.city}} </span><span>{{event1.location?.country}}</span>
    </div>
    <div *ngIf="event1.onlineUrl">Online URL: {{event1.onlineUrl}}</div>
    <button class="btn btn-primary" (click)="handleClickMe()">ClicK Me!</button>
</div>
